## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,50.00,71,0,13.80,clear sky
1,1,Kenai,US,60.5544,-151.2583,35.60,59,90,10.36,overcast clouds
2,2,Butaritari,KI,3.0707,172.7902,81.46,78,100,13.06,light rain
3,3,Amqui,CA,48.4638,-67.4313,42.80,81,20,8.05,few clouds
4,4,Bambous Virieux,MU,-20.3428,57.7575,80.01,88,75,12.66,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 30

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.reset_index(inplace= True)

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Zhigansk,RU,10.35,overcast clouds,66.7697,123.3711,
1,Kautokeino,NO,21.79,overcast clouds,69.0125,23.0412,
2,Maniitsoq,GL,28.08,overcast clouds,65.4167,-52.9000,
3,Kuldur,RU,29.19,overcast clouds,49.2167,131.6333,
4,College,US,18.00,scattered clouds,64.8569,-147.8028,
5,Yellowknife,CA,19.40,snow,62.4560,-114.3525,
6,Skelleftea,SE,28.40,few clouds,64.7507,20.9528,
7,Yar-Sale,RU,10.33,overcast clouds,66.8333,70.8333,
8,Aykhal,RU,17.31,light snow,66.0000,111.5000,
9,Ossora,RU,18.00,overcast clouds,59.2353,163.0719,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        print("Hotel Name")
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel Name
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Zhigansk,RU,10.35,overcast clouds,66.7697,123.3711,Gostinichnyy Kompleks Aylgy
1,Kautokeino,NO,21.79,overcast clouds,69.0125,23.0412,Thon Hotel Kautokeino
2,Maniitsoq,GL,28.08,overcast clouds,65.4167,-52.9000,Hotel Heilmann Lyberth
4,College,US,18.00,scattered clouds,64.8569,-147.8028,Pike's Waterfront Lodge
5,Yellowknife,CA,19.40,snow,62.4560,-114.3525,The Explorer Hotel
6,Skelleftea,SE,28.40,few clouds,64.7507,20.9528,Quality Hotel Skellefteå Stadshotell
7,Yar-Sale,RU,10.33,overcast clouds,66.8333,70.8333,Yalemd
10,Asau,RO,28.40,clear sky,46.4333,26.4000,Casa Mika Ciobanus
11,Fagernes,NO,12.96,broken clouds,60.9858,9.2324,Scandic Valdres
12,Tasiilaq,GL,15.80,clear sky,65.6145,-37.6368,The Red House
13,Vardo,NO,21.20,clear sky,70.3705,31.1107,Vardø Hotel AS
15,Lasa,IT,27.00,scattered clouds,46.6166,10.7002,Pension Feldgärtenhof
16,Longyearbyen,SJ,23.00,light snow,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
17,Fairbanks,US,19.00,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
18,Ostersund,SE,24.80,few clouds,63.1792,14.6357,Best Western Hotel Gamla Teatern
20,Ayan,RU,24.53,light snow,56.4500,138.1667,Gostinitsa
21,Ilulissat,GL,12.20,broken clouds,69.2167,-51.1000,Hotel Arctic
22,Mehamn,NO,25.66,scattered clouds,71.0357,27.8492,Mehamn Arctic Hotel AS
23,Norman Wells,CA,10.40,few clouds,65.2820,-126.8329,Heritage Hotel
24,Ilmajoki,FI,25.00,clear sky,62.7333,22.5667,KesäHostelli Ilmajoki

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figurefig = gmaps.figure()

fig.add_layer(gmaps.heatmap_layer(locations, weights=None, max_intensity=2, dissipating=True, point_radius=20, opacity=0.9, gradient=None))
fig

Figure(layout=FigureLayout(height='420px'))